          <div class="copyright">
            <strong>Copyright © 2026 Seres Del Noveno Universo. Todos los derechos reservados.</strong>
            Es fundamental declarar que el universo narrativo, la mitología, los personajes y el trasfondo conceptual de
            "Seres del Noveno Universo" (S9U) y su Gran Lore son una obra original e intelectual de <strong>Jonathan
              Gabriel Nieto</strong>. Como único y auténtico creador, Jonathan ha concebido, desarrollado, escrito y
            editado cada fibra de esta historia. Esta obra está protegida por las leyes internacionales de propiedad
            intelectual; cualquier reproducción, distribución o transformación de este material sin el consentimiento
            expreso del autor queda estrictamente prohibida. La autenticidad de S9U reside en la visión única de su
            autor original, quien posee la titularidad exclusiva sobre este legado literario.
          </div>
